.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}
.container{
  margin: 10px;
  text-align: center;
}
.app-title {
  margin-bottom: 15px;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
  margin: auto;
}

.search .form-control {
  width: 100%;
  padding: 5px;
  height: 36px;
  border-radius: 4px;
  outline: none;
}

.search .form-control:focus{
  color: #000;
}

.searchButton {
  height: 36px;
  background: #dfdfdf;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 100%;
  padding: 6px 2%;
  color: #000;
  margin-left: 4px;
}
.searchButton:hover {
  background: #eee;
}

@media (max-width: 700px) {
  .search {
    width: 85%;
  }
}

